.Ceshbek{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Ceshbek h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

.Ceshbek p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: Nunito;
}

.Ceshbek button {
  width: 237px;
  height: 48px;
  left: 482px;
  gap: 0px;
  opacity: 0px;
  border-radius: 48px;
  border: 1px solid black;
  background-color: white;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.Ceshbek button:hover{
    background-color: black;
    color: white;
}

.ceshbe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 75px;
  gap: 78px;
  align-items: center;
  font-family: Nunito;
}

@media only screen and (max-width:900px){
  .ceshbe{
    display: grid;
    grid-template-columns: 1fr;
  }
}
